a {
  text-decoration: none;
  color: inherit;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--color-bg);
  line-height: 1.4;
}

ul{
  list-style: none;
}
